# --- WordPress Site Configuration ---
WP_URL=https://url.of.target.website

# --- Get Page Script Env ---
TARGET_SLUG=url_slug_here

# --- Update Page Script Env ---
# Target ID number
TARGET_ID=16
TARGET_FILE=path/to/your/file.ext

# --- Authentication with Application Password (Must includes space) ---
WP_APP_USER=wordpress_username
WP_APP_PASSWORD=Appl icat ion_ Pass word